.cards-wrapper{
    max-height: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
   
}

.card-wrapper{
    display: flex;
    justify-content:space-between;
    max-height: 45%;
    flex: 1 1 30%;
    border: 0.1rem green solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow-y: auto;
    overflow-x: auto;
}

.content{
    width: auto;
    flex: 1 1;
}

.conteloseBellyFat-header-img-banner{
    width: auto;
    flex: 1 1;
}

.loseBellyFat-header-img-banner > img{
    object-fit: cover;
}
