.container_fluid{
    background-image: linear-gradient(180deg, rgba(41, 46, 71, 0.52), rgba(8, 4, 7, 0.952)), url('/public/imgs/total-shape.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    /* height: 100vh; */
    background-attachment: fixed;
    color: #FFFFFF;
    
}


/* @media only screen and( max-width: 320px) {
    .container-fluid{
        background-size: contain;
        
    }
} */